@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
  font-family: "Inter", sans-serif;
  margin:0;
  background:#f5f7fb;
  color:#1e293b;
}

h1{
  font-size:42px;
  font-weight:700;
  margin-bottom:20px;
}

h2{
  margin-top:30px;
  margin-bottom:10px;
}

pre{
  background:#f1f5f9;
  padding:20px;
  border-radius:12px;
  border:1px solid #e2e8f0;
}